<nav>
  <div class="nav-wrapper">
    <%= link_to 'Início', root_path, class:"brand-logo" %>
    <%= link_to 'Registrar remédio', new_medicine_path, class:"button-collapse" %>
    <ul class="right hide-on-med-and-down">
      <li><%= link_to 'Registrar remédio', new_medicine_path %></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
    </ul>
  </div>
</nav>
